<div class='main'>
 <div class='top_greeting'>
      <% if user_signed_in? %>
         <%=link_to "ログアウトする", destroy_user_session_path, method: :delete,class: :greeting_logout%>
      <% else %>
         <%=link_to "ログインする", new_user_session_path, class: :greeting_btn%>
         <%=link_to "新規登録する", new_user_registration_path, class: :greeting_btn%>
      <% end %>
 </div>
  <div class='title-contents'>
      <div class='greeting'>
         <% if user_signed_in? %>
            <%= "あつまれ！" %><br />
            <%= "#{current_user.classroom}組さん！！"%>        
            <div class="first_pict"><%= image_tag "B35E25D2-ACFE-48C5-BA2C-CA0F62885D33.jpeg", size: "220x180" %></div>
            <%=link_to "入室する", new_book_path, class: :into_btn%>
         <%#=link_to "入室する", new_book_path, class: :greeting_btn%>
         <%#=link_to "ログアウトする", destroy_user_session_path, method: :delete,class: :greeting_logout%>
         <% else %>
            <%= "あつまれ！" %><br />
            <%= "スクスク組さん！！"%>
            <div class="first_pict"><%= image_tag "B35E25D2-ACFE-48C5-BA2C-CA0F62885D33.jpeg", size: "220x180" %></div>
         <%#=link_to "ログインする", new_user_session_path, class: :greeting_btn%>
         <%#=link_to "新規登録する", new_user_registration_path, class: :greeting_btn%>
         <% end %>
     </div>
   </div>
 </div>